.visibleColumn,
.closeColumn {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}
.visibleColumn {
  z-index: 1;
  background-color: white;
}
.closeColumn {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  // background-color: red;
}
