.create {
  // absolute to Home container
  z-index: 200;
  position: fixed;
  top: 12%;
  left: 1%;
  padding: 5px;
  height: 50px;
  width: min-content;
  .text {
    padding-right: 10px;
  }

  // border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  gap: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 3px;
  border: 1px solid rgba(156, 156, 156, 0.203);
  cursor: pointer;
  &:hover {
    transition: all 300ms ease;
    background-color: rgb(218, 255, 235);
    box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  @media (max-width: 900px) {
    .text {
      display: none;
    }
    top: 85%;
    left: 90%;
  }
  @media (max-width: 600px) {
    left: 83%;
  }
}
