.icon {
  user-select: none;
  color: var(--color-light-gray-text);
  cursor: pointer;
  border-radius: 50%;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  &:hover {
    background-color: var(--color-light-gray-hover);
  }
}
