.calenderWrapper {
  position: relative;
  margin-top: 1rem;
  // width: 80vw;
  // border: 10px solid red;
  min-height: 100vh;
  width: 98vw;
  overflow: hidden;
  color: white;
  // to remove that annoying 0
  & > div {
    overflow: visible;
    // calender was not scrolling properly
    // that's why overflow-x changed
    color: black;
    // text color
  }
}
