.title {
  input {
    font-size: 1.5rem;
    width: 100%;
  }
}
// border: 1px solid red;

.dateTime {
  padding-top: 1rem;
  .date {
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    gap: 10px;
    .picker {
      flex: 2;
      // border: 1px solid pink;
    }
  }
  .time {
    display: flex;
    align-items: center;
  }
}
.text {
  font-size: 1.3rem;
}
.batch {
  display: flex;
  gap: 10px;
  align-items: center;
}
.teacher {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
  align-items: baseline;
  input {
    font-size: 1.2rem;
    width: 100%;
  }
}
.description {
  .textArea {
    resize: none;
    outline: none;
    border: none;
    background-color: var(--color-bg-purple);
    width: 100%;
    font-family: inherit;
    border-radius: 6px;

    padding: 0.5rem;
  }
}
