.container {
  margin-top: 200px;
  .line {
    margin: auto;
    width: 0px;
    height: 2px;
    background-color: red;
    animation: expand 300ms ease forwards;
    @keyframes expand {
      to {
        width: 100%;
      }
    }
    &.hide {
      opacity: 0;
      transition: all 300ms ease-in;
    }
  }
}
