.home {
  position: relative;
  padding-top: 2rem;
  .create {
    position: absolute;
    top: 10px;
    left: 0.5rem;
    padding: 5px 0;
    padding-left: 5px;
    padding-right: 15px;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    gap: 7px;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 3px;
    border: 1px solid rgba(156, 156, 156, 0.203);
    cursor: pointer;
    &:hover {
      transition: all 300ms ease;
      background-color: rgba(104, 197, 146, 0.075);
      box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
  .calenderWrapper {
    position: relative;
    margin-top: 1rem;
    // width: 80vw;
    // border: 10px solid red;
  }
  .gridContainer {
    display: flex;
    justify-content: flex-end;
    // border: 1px solid purple;
    .rowNames {
      // border: 1px solid orange;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-top: 49px;
      gap: 10px;
      p {
        // background-color: antiquewhite;
        text-align: center;
        // border-top: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    .columnGrid {
      // border: 1px solid blue;

      display: flex;
      flex-direction: column;
      .columnNames {
        // border: 1px solid red;
        min-height: 30px;
        min-width: 100%;
        display: grid;

        .column {
          text-transform: uppercase;
          border-left: 1px solid black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      .gridParent {
        border: 1px solid black;
        overflow: hidden;
        position: relative;
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          // background-color: aqua;
          width: 100%;
          height: 100%;
          display: grid;
          background-color: black;
          gap: 1px;
          .tab {
            background-color: white;
          }
        }
        .grid {
          // overflow: hidden;
          .wrapper {
            position: relative;
            color: white;
            // some weird 0 is coming on deleting the entry
            // so we made it white and text in children made black
            // border: 1px solid blue;
            .title {
              // border: 1px solid red;
              text-align: center;
              color: black;
            }
          }
        }
      }
    }
  }
}
