.desktopNavbar,
.mobileNavbar {
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--measure-navbar-height);
  width: 100vw;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  .spacer {
    flex: 1;
  }
  .monthDetails {
    display: flex;

    align-items: center;
    // border: 1px solid blue;
    .controls {
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }
    .dateString {
      width: 200px;
      // border: 1px solid red;
      font-size: 1.1rem;
    }
  }
}
.desktopNavbar {
  @media (max-width: 1000px) {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 3rem;
    }
    p {
      font-size: 1.4rem;
      color: var(--color-light-gray-text);
    }
  }
  .rest {
    padding: 0 3rem;
    gap: 20px;
    @media (max-width: 1200px) {
      gap: 10px;
    }
    flex: 1;
    display: flex;
    align-items: center;
    // border: 1px solid red;
  }
}
.mobileNavbar {
  @media (min-width: 1001px) {
    display: none;
  }
  gap: 20px;

  .modalContent {
    padding-right: 0.5rem;
    .title {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: normal;
      color: var(--color-light-gray-text);
    }
  }
}
