.title {
  input {
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 2px solid var(--color-blue);
  }
}
// border: 1px solid red;

.dateTime {
  padding-top: 1rem;
  .date {
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    gap: 10px;
    .picker {
      flex: 2;
      // border: 1px solid pink;
    }
  }
  .time {
    display: flex;
    align-items: center;
  }
}
