* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html,
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
input,
button {
  font-family: inherit;
}
:root {
  --color-blue: #196ddc;
}
.react-time-input-picker-wrapper {
  border: none !important;
}
.react-time-input-picker {
  font-size: 1rem;
  font-family: inherit;
  // border: 1px solid red;
  .inputWrapper {
    input {
      margin: 0px !important;
    }
  }
}
