* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html,
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
input,
button {
  font-family: inherit;
}
:root {
  --measure-navbar-height: 65px;
  --color-blue: #196ddc;
  --color-light-gray-text: rgb(82, 82, 82);
  --color-light-gray-hover: rgb(235, 235, 235);
  --color-slateblue: #737fc1;
  --decor-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.react-time-input-picker-wrapper {
  border: none !important;
}
.react-time-input-picker {
  font-size: 1rem;
  font-family: inherit;
  // border: 1px solid red;
  .inputWrapper {
    input {
      margin: 0px !important;
    }
  }
}
.hidden {
  visibility: hidden;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  // background-color: red;
  opacity: 0;
}
